.picture{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.hover{
    border-top: 5px double black;
}
.div1{
	margin: auto;
	text-align: center;
	font-family: arial;
}
.div2{
	margin: auto;
	text-align: center;
	font-family: arial;
}
.div3{
	margin: auto;
	text-align: center;
	font-family: arial;
}
.div4{
	margin: auto;
	text-align: center;
	font-family: arial;
}
.t1{
    margin-left: auto;
    margin-right: auto;
}
.t2{
    margin-left: auto;
    margin-right: auto;
}
.t3{
    margin-left: auto;
    margin-right: auto;
}
.t4{
    margin-left: auto;
    margin-right: auto;
}
